.convert {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
input {
  width: 200px;
  height: 30px;
  font-size: 20px;
}
select {
  height: 35px;
}
.toConvert {
  display: flex;
  gap: 20px;
}
